<div class="container invite">
    <div class="row">
        <div class="col-md-4">
            <p class="user-info-extend">Invite your friends</p>
            <div class="invite-form clearfix border">
                <form class="invite-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Message</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <button type="submit" class="button button-small button-google pull-right">Send invitation</button>   
                </form>
            </div>
        </div>
        <div class="col-md-8 invite-social">
            <p class="user-info-extend">Share on</p>
            <div class="row">
                <div class="col-xs-4">
                    <div class="border">
                        <span class="google">Google+</span>
                        <img src="../common/assets/images/icon-google-big.svg" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="border">
                        <span class="facebook">Facebook</span>
                        <img src="../common/assets/images/icon-facebook-big.svg" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="border">
                        <span class="twitter">Twitter</span>
                        <img src="../common/assets/images/icon-twitter-big.svg" />
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="user-info-extend">Connect here with your Facebook friends<button class="button button-small button-sign-in">Follow all friends</button></p>
        </div>
        <div class="col-md-12 border">
            <div class="search-content__input form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <div class="input-group-addon"><i class="iconmoon icon-main_nav_icon_search_grey"  style="cursor: pointer;"></i></div>
                </div>
            </div>
            <div class="follow-section clearfix">
                <div class="follow-people col-md-3 col-sm-6 col-xs-6">
                    <a class="follow-img"  href="#/userProfile/"><img width="50" height="50" class="img-circle" src="../common/assets/images/default_user.png" /></a>
                    <a class="follow-name" href="#/userProfile/"><span>Alex Birsan</span></a>
                    <span class="follow-location">Las Vegas, NV</span>
                    <a class="follow-follow">+ Follow</a>
                    <div class="yandy">20</div>
                </div>
                <div class="follow-people col-md-3 col-sm-6 col-xs-6">
                    <a class="follow-img"  href="#/userProfile/"><img width="50" height="50" class="img-circle" src="../common/assets/images/default_user.png" /></a>
                    <a class="follow-name" href="#/userProfile/"><span>Alex Birsan</span></a>
                    <span class="follow-location">Las Vegas, NV</span>
                    <a class="follow-follow">+ Follow</a>
                    <div class="yandy">20</div>
                </div>
                <div class="follow-people col-md-3 col-sm-6 col-xs-6">
                    <a class="follow-img"  href="#/userProfile/"><img width="50" height="50" class="img-circle" src="../common/assets/images/default_user.png" /></a>
                    <a class="follow-name" href="#/userProfile/"><span>Alex Birsan</span></a>
                    <span class="follow-location">Las Vegas, NV</span>
                    <a class="follow-follow">+ Follow</a>
                    <div class="yandy">20</div>
                </div>
                <div class="follow-people col-md-3 col-sm-6 col-xs-6">
                    <a class="follow-img"  href="#/userProfile/"><img width="50" height="50" class="img-circle" src="../common/assets/images/default_user.png" /></a>
                    <a class="follow-name" href="#/userProfile/"><span>Alex Birsan</span></a>
                    <span class="follow-location">Las Vegas, NV</span>
                    <a class="follow-follow">+ Follow</a>
                    <div class="yandy">20</div>
                </div>
            </div>
        </div>
    </div>
</div>
