<div class="bg-mask" (click)="editOpened = false" *ngIf="editOpened"></div>
<div class="offer-section" *ngIf="editOpened">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offer-user-section">
                <div class="itemDetail-user__image">
                    <a *ngIf="userInfo" href="#/userProfile/{{userInfo.$key}}/items">
                    <img width="36" height="36" src="{{userInfo.photoURL}}" class="img-circle"/></a>
                    <a *ngIf="userInfo" href="#/userProfile/{{userInfo.$key}}/items"><span>{{userInfo.displayName}}</span>'s items</a>
                </div>
                <i style="color: #fff; float: right; font-size: 30px;" class="glyphicon glyphicon-remove"></i>
            </div>
            <div class="col-md-12 offer-carousel">
                <div id="carousel-offers" data-interval="false" class="carousel slide">
                    <a class="up carousel-control" href="#carousel-offers" role="button" data-slide="prev">
                        <i class="iconmoon icon-icon_detail_arrow_left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="down carousel-control" href="#carousel-offers" role="button" data-slide="next">
                        <i class="iconmoon icon-icon_detail_arrow_right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                    <div class="carousel-inner product-area" role="listbox">
                        <!--  inceput carusel sus -->
                        <div *ngFor="let caruselItem of carouselItems; let i = index;"  class="item  row" [ngClass]="{active : i == 0}">
                            <div *ngFor="let myItem of caruselItem; let j = index;" class="col-md-3 col-sm-4 col-xs-4 product">
                                <div  style="margin-bottom: 0px;" class="product-content" (click) = "selectItems(myItem.$key)">
                                    <!-- Clasa selectata plus incrementarea numarului -->
                                    <div *ngIf="itemsSelected[myItem.$key]" class="active-select">

                                        <p  class="is-clicked">SELECTED</p>
                                    </div>
                                    <div *ngIf="myItem.sunmool" class="product-sunmool">
                                        <img  width="40" height="40" src="common/assets/images/logo.svg" alt="logo"/>
                                    </div>
                                    <div class="product-image">

                                        <img style="cursor: pointer;" *ngIf="myItem.photos" src="{{configVars.apiServerAdress}}/uploads/{{myItem.photos[0]}}" alt="ceva"/>
                                        <img style="cursor: pointer;" *ngIf="!myItem.photos" src="common/assets/images/main-before-login-image.png" alt="ceva"/>
                                    </div>

                                    <div class="product-info">
                                        <div>
                                            <p>{{myItem.title}}</p>
                                            <span>{{myItem.category}}</span>
                                        </div>
                                        <p class="offer-size">{{myItem.size}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- Asta e primul carusel din mijloc -->




                <!--  Asta e carouselul din mijloc -->
                <div id="carousel-middle" class="carousel slide">
                    <a class="up carousel-control" href="#carousel-middle" role="button" data-slide="prev">
                        <i class="iconmoon icon-icon_detail_arrow_left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="down carousel-control" href="#carousel-middle" role="button" data-slide="next">
                        <i class="iconmoon icon-icon_detail_arrow_right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                    <div class="carousel-inner" role="listbox">
                        <!-- Text if no item is selected  Asta e textul in caz ca sunt goale -->
                         <!-- <div *ngIf="mySelectedArr.length == 0" class="middle-text">
                            <h3><b>Offer Basket</b></h3>
                            <h4>Second, click your items that you want to offer</h4>
                        </div> -->
                        <div>
                        </div>
                        <!-- inceput carusel mijloc -->
                        <div *ngFor="let caruselItem of mySelectedArr; let i = index;"  class="item  row" [ngClass]="{active : i == 0}">
                            <div  class="item-upload">
                                <img  *ngFor="let myItem of caruselItem; let i = index;" class="img-reponsive" src="{{configVars.apiServerAdress}}/uploads/{{myItem}}" />
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Asta e carouselul de jos -->
                <div id="carousel-bottom" class="carousel slide">
                    <a class="up carousel-control" href="#carousel-bottom" role="button" data-slide="prev">
                        <i class="iconmoon icon-icon_detail_arrow_left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="down carousel-control" href="#carousel-bottom" role="button" data-slide="next">
                        <i class="iconmoon icon-icon_detail_arrow_right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                    <div class="carousel-inner product-area" role="listbox">
                        <!--  inceput carusel jos -->

                        <div *ngFor="let caruselItem of currentLoggedItems; let i = index;"  class="item  row" [ngClass]="{active : i == 0}">
                            <div *ngFor="let myItem of caruselItem; let j = index;" class="col-md-3 col-sm-4 col-xs-4 product">
                                <div class="product-content" (click)="mySelectItems(myItem.$key, myItem.photos[0])">
                                  <div *ngIf="myItemsSelected[myItem.$key] && myItemsSelected[myItem.$key].val" class="active-select">
                                      <p  class="is-clicked">SELECTED</p>
                                  </div>
                                  <div *ngIf="myItem.sunmool" class="product-sunmool">
                                      <img  width="40" height="40" src="common/assets/images/logo.svg" alt="logo"/>
                                  </div>
                                  <div class="product-image">

                                      <img style="cursor: pointer;" *ngIf="myItem.photos" src="{{configVars.apiServerAdress}}/uploads/{{myItem.photos[0]}}" alt="ceva"/>
                                      <img style="cursor: pointer;" *ngIf="!myItem.photos" src="common/assets/images/main-before-login-image.png" alt="ceva"/>
                                  </div>

                                  <div class="product-info">
                                      <div>
                                          <p>{{myItem.title}}</p>
                                          <span>{{myItem.category}}</span>
                                      </div>
                                      <p class="offer-size">{{myItem.size}}</p>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offer-bottom-info">
                    <div class="col-md-8 text">
                        <p>Third, how many items user can pick from your offer?</p>
                        <div class="form-group">
                            <!-- <div class="btn-group">
                                <button aria-expanded="true" aria-haspopup="true" class="button button-default dropdown-toggle form-control" data-toggle="dropdown" type="button">
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ><a *ngFor="let itemPhoto of mySelectedArr; let i = index;" (click)="changeItemPickNum(i)" _ngcontent-nap-11="" href="#">{{i+1}}</a>{{itemPickNum}}</li>
                                </ul>
                            </div> -->
                            <!-- Aici ia-te dupa ala de sus. La ala de jos unde am scris "12" trebuie pus numarul selectat din for-ul ala-->
                            <div class="btn-group">
                                <button type="button" class="button button-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{itemPickNum}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ><a href="#" (click)="changeItemPickNum(-1)"> - </a ></li>
                                    <li ><a href="#" *ngFor="let itemPhoto of mySelectedArrRaw; let i = index;" (click)="changeItemPickNum(i)">{{i+1}}</a ></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button  style="margin: 0;" type="button" (click)="offerItem()" [disabled]="mySelectedArr.length == 0 || itemPickNum == 0" class="button button-sign-in"><i class="iconmoon icon-add_item_icons_flip-right"></i>EDIT</button>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>











<div class="bg-mask" (click)="toggleItemDetailsVisible()" *ngIf="itemDetailsVisible"></div>
<div class="exchange-info" *ngIf="itemDetailsVisible">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-6 offer-first-img">
                        <img *ngIf="currentSelectedPhotoDetail != ''" src="{{configVars.apiServerAdress}}/uploads/{{currentSelectedPhotoDetail}}" />
                        <img *ngIf="currentSelectedPhotoDetail == ''" src="common/assets/images/main-before-login-image.png" />
                    </div>
                    <div class="col-md-6 itemDetail-left">
                        <div class="exchange-info-section">
                            <h4>{{currentItemDetails[activeOffer].item.title}}</h4>
                            <img (click)="toggleItemDetailsVisible()" style="cursor: pointer;" class="close-modal" src="common/assets/images/icon-offer-close.svg" />
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5 subtitle marginnone">
                                    <p>Brand</p>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <p>{{currentItemDetails[activeOffer].item.brandName}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5 subtitle marginnone">
                                    <p>Size</p>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <p>{{currentItemDetails[activeOffer].item.size}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5 subtitle marginnone">
                                    <p>Colors</p>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <p>{{currentItemDetails[activeOffer].item.colors}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5 subtitle marginnone">
                                    <p>Condition</p>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <p>{{currentItemDetails[activeOffer].item.condition}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5 subtitle marginnone">
                                    <p>Location</p>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <p>{{currentItemDetails[activeOffer].item.location}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-5 subtitle marginnone">
                                    <p>Original Price</p>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-7">
                                    <p>{{currentItemDetails[activeOffer].item.originalPrice}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 subtitle marginnone">
                                    <p>Description</p>
                                </div>
                                <div class="col-md-12">
                                    <p>{{currentItemDetails[activeOffer].item.description}}</p>
                                </div>
                            </div>
                            <button *ngIf="isItemSelecte(currentItemDetails[activeOffer].item.$key)" class="button button-google" (click)="selectItem(currentItemDetails[activeOffer], false)">DESELECT</button>
                            <button *ngIf="!isItemSelecte(currentItemDetails[activeOffer].item.$key) && offers[activeOffer].selectedCount < offers[activeOffer].itemsToPick" class="button button-sign-in" (click)="selectItem(currentItemDetails[activeOffer], true)">SELECT</button>
                        </div>
                        <div id="carousel-middle" data-interval="false" class="carousel slide">
                            <a class="up carousel-control" href="#carousel-middle" role="button" data-slide="prev">
                                <i class="iconmoon icon-icon_detail_arrow_left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="down carousel-control" href="#carousel-middle" role="button" data-slide="next">
                                <i class="iconmoon icon-icon_detail_arrow_right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                            <div *ngIf="currentItemDetails[activeOffer].item.photos" class="carousel-inner row" role="listbox">
                                <!-- inceput carusel mijloc -->
                                <div *ngFor="let photoGroup of common.makeGroupOfItems(currentItemDetails[activeOffer].item.photos, 2); let i = index;" class="item" [ngClass]="{active : i == 0}">
                                    <img *ngFor="let photo of photoGroup; let i = index;"class="img-responsive" (click)="currentSelectedPhotoDetail = photo" style="cursor: pointer;" src="{{configVars.apiServerAdress}}/uploads/{{photo}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
   <div class="col-md-12">
       <div class="top-product row">
           <div class="col-md-6" *ngIf="offers[0] && offers[0].mainItemDetails">
               <img src="{{configVars.apiServerAdress}}/uploads/{{offers[0].mainItemDetails.photos[0]}}" width="90" height="90" alt="product" />
               <div class="top-product-info">
                   <h4 class="top-product-title">{{offers[0].mainItemDetails.title}}</h4>
                   <p class="top-product-desc">{{offers[0].mainItemDetails.category}}</p>
                   <div class="top-product-icons">
                       <div class="icon-group">
                           <img src="../../../../common/assets/images/item-vote-down.svg"/>
                           <span>{{offers.length}}</span>
                       </div>
                       <div *ngIf="offers[0].comments" class="icon-group" style="cursor: pointer;">
                           <img (click)="common.viewItem(offers[0].mainItemDetails.$key)" src="../../../../common/assets/images/icon-item-msg.svg"/>
                           <span >{{offers[0].comments.length}}</span>
                       </div>
                       <div *ngIf="offers[0].likes" class="icon-group">
                           <i class="iconmoon icon-icon_detail_like"></i>
                           <span >{{common.getLikesNum(offers[0].likes)}}</span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-md-6">
               <div class="row">
                   <div class="col-md-6">
                       <div class="btn-group">
                           <button type="button" class="button button-default dropdown-toggle form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Show 16 Per Page<span class="caret"></span>
                           </button>
                           <ul class="dropdown-menu">
                               <li><a href="#">8</a></li>
                               <li><a href="#">16</a></li>
                               <li><a href="#">32</a></li>
                               <li><a href="#">64</a></li>
                           </ul>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="input-group">
                           <input placeholder="Search" type="text" class="form-control" id="brand" aria-label="Amount (to the nearest dollar)">
                           <span class="input-group-addon"><i class="iconmoon icon-main_nav_icon_search_grey"></i></span>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div *ngFor="let offer of offers; let x = index;" class="offer-extend">
           <div *ngIf="offer.offerToDetails && offer.offerFromDetails && offer.status != 'declined'" class="offer-button clearfix" data-toggle="collapse" [attr.data-target]="'#demo'+x">
               <img class="img-responsive img-circle" src="{{offer.offerFromDetails.photoURL}}" width="40" height="40" alt="product" />
               <p><b>{{offer.offerFromDetails.displayName}}</b> offered you <b class="sunmool-color">{{offer.itemsToOffer.length}}</b>  items.</p>
               <span *ngIf="offer.status == 'counterOffer'" class="pull-right"> You have made a counter Offer</span>
               <span>{{common.time_ago(offer.timestamp*1000)}}</span>

               <span class="caret"></span>
           </div>
           <div id="demo{{x}}" class="collapse">
               <div class="offer-exchange clearfix">

                   <div id="carousel-right{{i}}" *ngIf="offer.offerFromDetails" data-interval="false" class="carousel pull-left slide">
                        <p class="col-md-12 pick-font">You can pick {{offer.itemsToPick}} items from {{offer.offerFromDetails.displayName}}</p>
                        <a class="up carousel-control" href="#carousel-right{{i}}" role="button" data-slide="prev">
                          <i class="iconmoon icon-icon_detail_arrow_left" aria-hidden="true"></i>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="down carousel-control" href="#carousel-right{{i}}" role="button" data-slide="next">
                          <i class="iconmoon icon-icon_detail_arrow_right" aria-hidden="true"></i>
                          <span class="sr-only">Next</span>
                        </a>
                        <div *ngIf="offer.offerPhotos" class="carousel-inner product-area" role="listbox">

                          <!--  Aici vin itemurile active -->
                          <div *ngFor="let oferPhotos of offer.offerPhotos; let i = index;" class="item activerow" [ngClass]="{active : i ==0}">
                              <div *ngFor="let oferPhoto of oferPhotos; let j = index;" class="col-md-6 col-sm-6 col-xs-4 product">
                                   <div class="product-content" style="margin-bottom: 0px;">

                                      <div (click)="toggleItemDetailsVisible(); setItemDetails(oferPhoto, x, j)" *ngIf="offer.acceptedItems && offer.acceptedItems[oferPhoto.$key]" class="active-select">
                                          <p  class="is-clicked">SELECTED</p>
                                      </div>
                                      <div (click)="toggleItemDetailsVisible(); setItemDetails(oferPhoto, x, j)" class="product-image">

                                          <img style="cursor: pointer;" src="{{configVars.apiServerAdress}}/uploads/{{oferPhoto.photos[0]}}" alt="ceva"/>
                                      </div>

                                      <div class="product-info">
                                          <div>
                                              <p>{{oferPhoto.title}}</p>
                                              <span>{{oferPhoto.category}}</span>
                                          </div>
                                          <p class="offer-size">{{oferPhoto.size}}</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-4 product" (click)="counterOffer(offer.$key, offer.offerFrom, offer.mainItem); setCurrentOffer(offer)" style="cursor: pointer;" >
                                <div *ngIf="i == offer.offerPhotos.length-1 && offer.offerPhotos[i].length < 2" class="product-content counter-offer" style="margin-bottom: 0px;">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <p>Don't like the offer?</p>
                                    <p class="sunmool-color">Make a counter-offer</p>
                                </div>
                              </div>
                          </div>


                          <div *ngIf="offer.offerPhotos[offer.offerPhotos.length-1].length >= 2" class="item"  >
                              <div class="col-md-6 col-sm-6 col-xs-4 product" (click)="counterOffer(offer.$key, offer.offerFrom, offer.mainItem); setCurrentOffer(offer)" style="cursor: pointer;">
                                <div  class="product-content counter-offer" style="margin-bottom: 0px;">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <p>Don't like the offer?</p>
                                    <p class="sunmool-color">Make a counter-offer</p>
                                </div>
                              </div>
                          </div>



                      </div>

                  </div>
                   <img src="../../../../common/assets/images/icon-exchange.svg" class="icon-exchange" />
                   <div id="carousel-left" class="carousel pull-right slide" data-interval="false" *ngIf="offer.offerFromDetails">
                       <p class="col-md-12 pick-font">{{offer.offerFromDetails.displayName}} picked {{offer.itemsToGet.length}} of your items</p>
                       <a class="up carousel-control" href="#carousel-left" role="button" data-slide="prev">
                           <i class="iconmoon icon-icon_detail_arrow_left" aria-hidden="true"></i>
                           <span class="sr-only">Previous</span>
                       </a>
                       <a class="down carousel-control" href="#carousel-left" role="button" data-slide="next">
                           <i class="iconmoon icon-icon_detail_arrow_right" aria-hidden="true"></i>
                           <span class="sr-only">Next</span>
                       </a>
                       <div *ngIf="offer.getPhotos" class="carousel-inner product-area" role="listbox">

                         <!--  Aici vin itemurile active -->
                         <div *ngFor="let getPhotos of offer.getPhotos; let i = index;" class="item row" [ngClass]="{active : i ==0}">
                             <div *ngFor="let getPhoto of getPhotos; let i = index;" class="col-md-6 col-sm-6 col-xs-4 product">
                                 <div class="product-content">

                                     <!--<div class="product-sunmool">
                                         <img  width="40" height="40" src="common/assets/images/logo.svg" alt="logo"/>
                                     </div>-->
                                     <div class="product-image">

                                         <img style="cursor: pointer;" src="{{configVars.apiServerAdress}}/uploads/{{getPhoto.photos[0]}}" alt="ceva"/>
                                     </div>

                                     <div class="product-info">
                                         <div>
                                             <p>{{getPhoto.title}}</p>
                                             <span>{{getPhoto.category}}</span>
                                         </div>
                                         <p class="offer-size">{{getPhoto.size}}</p>
                                     </div>
                                 </div>
                             </div>
                         </div>

                     </div>

                  </div>



























                   <div class="items-visual" >
                       <label class="btn btn-default-bg" [ngClass]="{disabledAcceptBtn: !offer.selectedCount || offer.selectedCount < offer.itemsToPick || offer.status == 'counterOffer'} ">
                           ACCEPT<input  [disabled]="!offer.selectedCount || offer.selectedCount < offer.itemsToPick" (click)="common.acceptOffer(offer.$key, offer.offerFrom, offer.mainItem, offers, offer)" style="display: none;" type="button" >
                       </label>
                       <label  class="btn btn-default-bg">
                           DECLINE<input (click)="common.declineOffer(offer.$key, offer.offerFrom, offer.mainItem)" style="display: none;" type="button">
                       </label>
                   </div>
               </div>

           </div>
       </div>

   </div>
</div>
