<div class="home container">
    <div class="row">
        <div class="col-md-10">
           <div class="row product-area">
              <div *ngIf="searchTerm != ''">Results for '{{searchTerm}}'</div>
              <div *ngIf="items.length == 0">No results...</div>
              <span *ngFor="let item of items; let i = index;">
               <div  class="col-md-3 col-sm-4 col-xs-4 product" *ngIf="item.status != 'inProcess'">
                    <div class="product-content" >
                    <div class="product-sunmool">
                        <img *ngIf="item.sunmool" width="40" height="40" src="common/assets/images/logo.svg" alt="logo"/>
                    </div>
                    <!--<div class="product-image" (click)="common.viewItem(item.$key)">-->
                        <!--<img class="img-responsive" *ngIf="item.photos" src="{{configVars.apiServerAdress}}/uploads/{{item.photos[0]}}" alt="ceva"/>-->
                        <!--<img class="img-responsive" *ngIf="!item.photos" src="common/assets/images/main-before-login-image.png" alt="ceva"/>-->
                    <!--</div>-->
                    <div class="product-image" *ngIf="item.photos" [ngStyle]="{'background':'url(' + configVars.apiServerAdress + '/uploads/' + item.photos[0] + ') no-repeat scroll center center \/cover'}" (click)="common.viewItem(item.$key)">
                    </div>
                    <div class="product-image" *ngIf="!item.photos" [ngStyle]="{'background':'url(common/assets/images/main-before-login-image.png) no-repeat scroll center center \/cover'}" (click)="common.viewItem(item.$key)">
                    </div>

                   <div class="product-info">
                       <div>
                           <p>{{item.title}}</p>
                           <span>{{item.category}}</span>
                           <p>{{item.size}}</p>
                       </div>
                       <a *ngIf="item.user" href="#/userProfile/{{item.user.$key}}/items"><img width="36px" height="36px" *ngIf="item.user && item.user.photoURL" src="{{item.user.photoURL}}" alt="ceva"/></a>
                       <a *ngIf="item.user" href="#/userProfile/{{item.user.$key}}/items"><img width="36px" height="36px" *ngIf="!item.user || !item.user.photoURL" src="common/assets/images/main-before-login-image.png" alt="ceva"/></a>
                       <div class="product-info__likes">
                         <i *ngIf="item.likes && auth.userData && item.likes[auth.userData.uid] && item.likes[auth.userData.uid].liked"  (click)="common.unLikeItem(item.$key)" class="iconmoon icon-icon_detail_like sunmool-color"></i>
                         <i *ngIf="item.likes && auth.userData && ( (item.likes[auth.userData.uid] && !item.likes[auth.userData.uid].liked) || !item.likes[auth.userData.uid] )" (click)="common.likeItem(item.$key);" class="iconmoon icon-icon_detail_like"></i>
                         <span *ngIf="item.likes">{{common.getLikesNum(item.likes)}}</span>
                       </div>
                   </div>
                   </div>
               </div>
             </span>
           </div>
        </div>
        <div class="col-md-2 recent-product hidden-sm hidden-xs" [ngClass]="{'forcemargin': searchOn, 'visible': !searchOn}">
            <div class="bg-info" *ngIf="photoViewdCarousel.length != 0">
                <div id="carousel-example-vertical" data-interval="false" class="carousel vertical slide">
                    <a class="up carousel-control" href="#carousel-example-vertical" role="button" data-slide="prev">
                      <i class="iconmoon icon-main_nav_icon-01" aria-hidden="true"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  <div class="carousel-inner" role="listbox">
                    <div class="item " *ngFor="let photoSet of photoViewdCarousel; let i = index;" [ngClass]="{active : i == 0}">

                          <p class="ticker-headline">
                            <a *ngFor="let photoSet of photoViewdCarousel[i]; let j = index;" href="#" (click)="common.viewItem(photoViewdCarousel[i][j].itemId)">
                                <img *ngIf="photoViewdCarousel[i][j].photo != '' " width="36px" src="{{configVars.apiServerAdress}}/uploads/{{photoViewdCarousel[i][j].photo}}" alt="ceva"/>
                                <img *ngIf="photoViewdCarousel[i][j].photo == '' " width="36px" src="common/assets/images/main-before-login-image.png" alt="ceva"/>
                            </a>
                          </p>

                    </div>

                  </div>
                  <a class="down carousel-control" href="#carousel-example-vertical" role="button" data-slide="next">
                    <i class="iconmoon icon-main_nav_icon_arrow_down" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
